{% include 'inc/header.html' %}
{% load static %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

{% block content %}
<style>
    body {
        background-image: url('{% static "img/slider2.jpg" %}');
        background-size: cover;
        background-position: center;
        min-height: 100vh;
        margin: 0;
        padding: 0;
    }

    .container {
        padding: 20px;
        margin: 0 auto;
    }

    .card {
        background-color: rgba(255, 255, 255, 0.9);
        border: 2px solid #fff;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }

    #map {
        border: 2px solid #000;
        border-radius: 10px;
        height: 300px;
        margin-top: 20px;
    }

    button[type="submit"] {
        margin: 20px auto;
        padding: 12px 30px;
        background-color: #007bff;
        border-color: #007bff;
        font-size: 16px;
        font-weight: bold;
        color: white;
        border-radius: 5px;
    }

    .btn-ver-planes {
        background-color: #ff7f50;
        color: white;
        font-weight: bold;
        padding: 8px 20px;
        border-radius: 5px;
        transition: transform 0.3s ease, background-color 0.3s ease;
    }

    .btn-ver-planes:hover {
        background-color: #ff6347;
        transform: scale(1.05);
    }

    .alert {
        position: relative;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
        color: #333;
        border: 1px solid transparent;
    }

    .alert-success {
        background-color: #d4edda; /* Verde suave */
        border-color: #c3e6cb; /* Verde más claro */
    }

    .alert-error {
        background-color: #f8d7da; /* Rojo suave */
        border-color: #f5c6cb; /* Rojo más claro */
    }

    .alert-info {
        background-color: #d1ecf1; /* Azul suave */
        border-color: #bee5eb; /* Azul más claro */
    }

    .alert .close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
        color: #000;
    }

    .alert .close:hover {
        color: #ff0000;
    }
</style>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card shadow-lg">
                <div class="card-body">
                    
                    <h4 class="text-center" style="margin: 6px; font-size: 1.8em;">Editar Perfil</h4>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-error{% else %}alert-info{% endif %}">
                                {{ message }}
                                <span class="close">&times;</span>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <form method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
                        {% csrf_token %}
                        {% if mec %}
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <img id="foto-preview"
                                    src="{% if mec.foto %}{% static 'img/' %}{{ mec.foto }}{% else %}{% static 'img/placeholder.png' %}{% endif %}"
                                    class="img-fluid rounded-circle mecanico-img" alt="{{ mec.nombres }}"
                                    style="width: 150px; height: 150px; object-fit: cover; margin: 20px auto;">
                                <input type="file" name="foto" class="form-control-file mt-3" id="foto-input">
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="nombres"><strong>Nombres:</strong></label>
                                    <input type="text" name="nombres" value="{{ user.first_name }}" class="form-control"
                                        required maxlength="100" pattern="[A-Za-z ]+" title="Solo letras y espacios" placeholder="Ingresa tus nombres">
                                </div>
                                <div class="form-group">
                                    <label for="apellidos"><strong>Apellidos:</strong></label>
                                    <input type="text" name="apellidos" value="{{ user.last_name }}"
                                        class="form-control" required maxlength="100" pattern="[A-Za-z ]+" title="Solo letras y espacios" placeholder="Ingresa tus apellidos">
                                </div>
                                <div class="form-group">
                                    <label for="telefono"><strong>Teléfono:</strong></label>
                                    <input type="tel" name="telefono" value="{{ mec.telefono }}" class="form-control"
                                        required pattern="[0-9]{10}" maxlength="10" placeholder="Teléfono">
                                </div>
                                <div class="form-group">
                                    <label for="email"><strong>Correo electrónico:</strong></label>
                                    <input type="email" value="{{ user.email }}" class="form-control" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="direccion"><strong>Dirección:</strong></label>
                                    <input type="text" name="direccion" value="{{ mec.direccion }}" class="form-control"
                                        required maxlength="150" pattern="^(?!\s*$).+" title="No puede estar vacía" placeholder="Dirección">
                                </div>
                                <div class="form-group">
                                    <label for="ubicacion"><strong>Ubicación:</strong></label>
                                    <input type="text" name="ubicacion" id="ubicacion" value="{{ mec.ubicacion }}"
                                        class="form-control" required maxlength="150" pattern="^(?!\s*$).+" title="No puede estar vacía" placeholder="Ubicación">
                                </div>
                                <div class="form-group">
                                    <label for="descripcion"><strong>Descripción:</strong></label>
                                    <textarea name="descripcion" class="form-control" required maxlength="300" placeholder="Habilidades y experiencia">{{ mec.descripcion }}</textarea>
                                </div>
                                <div class="form-group">
                                    <label for="profesion"><strong>Profesión:</strong></label>
                                    <input type="text" name="profesion" value="{{ mec.profesion }}" class="form-control"
                                        required maxlength="300" pattern="[A-Za-z0-9 ]+" title="Solo caracteres alfanuméricos" placeholder="Profesión">
                                </div>
                                <div class="form-group">
                                    <label for="tipo_afiliacion"><strong>Tipo de afiliación:</strong></label>
                                    <p>{{ mec.tipo_afiliacion }}</p>
                                    <a href="{% url 'planes' id=user.id %}" class="btn btn-primary btn-sm btn-ver-planes">Ver planes de mecánico</a>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <p>No se encontró información del mecánico.</p>
                        {% endif %}
                        <div id="map"></div>
                        <button type="submit" class="btn btn-primary btn-block">Guardar cambios</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% include 'inc/footer.html' %}

<script>
    function validateForm() {
        const inputs = document.querySelectorAll('input[required], textarea[required]');
        for (const input of inputs) {
            if (input.value.trim() === '') {
                alert('Por favor, completa todos los campos obligatorios.');
                return false;
            }
        }
        return true;
    }

    $(function () {
        $("#ubicacion").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "https://nominatim.openstreetmap.org/search",
                    dataType: "json",
                    data: {
                        q: request.term + ", Medellín, Colombia",  
                        format: "json",
                        addressdetails: 1,
                        limit: 10
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.display_name,
                                value: item.display_name
                            };
                        }));
                    }
                });
            },
            select: function (event, ui) {
                $('#ubicacion').val(ui.item.value);
                // Puedes agregar lógica para centrar el mapa en la ubicación seleccionada
            }
        });
    });

    $(document).ready(function () {
        // Mostrar la vista previa de la imagen seleccionada
        $('#foto-input').on('change', function () {
            const file = this.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    $('#foto-preview').attr('src', e.target.result);
                }
                reader.readAsDataURL(file);
            }
        });

        // Manejar el cierre de las alertas
        $('.alert .close').on('click', function () {
            $(this).parent('.alert').fadeOut();
        });
    });

    // Inicializar el mapa
    var map = L.map('map').setView([6.2442, -75.5812], 13); // Coordenadas de Medellín, Colombia

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    // Añadir marcador para la ubicación
    L.marker([6.2442, -75.5812]).addTo(map)
        .bindPopup('Ubicación cercana al mecanico')
        .openPopup();
</script>
