<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Inicio</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="img/logo.png" type="img/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:400,500,600,700%7CPoppins:400%7CTeko:300,400">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="img/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    
    <div class="page">
      <nav class="navbar" style="background-color: #162e44;">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <nav class="navbar bg-body-tertiary">
              
              <div class="container">
                <a class="navbar-brand" href="#">
                  <img  src="img/logo.png" alt="Bootstrap" width="70" height="70">
                </a>
              </div>
            </nav>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="index.html"  style="color: #ffff;" > <B>INICIO</B>    </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="views/cards.html" style="color: #ffff;"> <B>SOLICITAR SERVICIO</B></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="views/contact-us.html" style="color: #ffff;" ><B>CONTACTOS</B> </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="views/reserva.html" style="color: #ffff;" ><B>RESERVA</B> </a>
                </li>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <nav class="navbar bg-body-tertiary  ">
          <div class="container-fluid">            
            <form class="d-flex" role="search">
              <a href="login/index.html"><button type="button" class="btn btn-primary">ACCEDER/REGISTRARSE</button></a>
            </form>
          </div>
        </nav>
      </nav>
      </header>
      <section class="section swiper-container swiper-slider swiper-slider-corporate swiper-pagination-style-2" data-loop="true" data-autoplay="5000" data-simulate-touch="true" data-nav="false" data-direction="vertical">
        <div class="swiper-wrapper text-left">
          <div class="swiper-slide context-dark" data-slide-bg="img/sliderfoto5.jpg">
            <div class="swiper-slide-caption section-md">
              <div class="container">
                <div class="row">
                  <div class="col-md-10">
                    <h6 class="text-uppercase" data-caption-animate="fadeInRight" data-caption-delay="0">¡Bienvenido a mechanical express!</h6>
                    <h2 class="oh font-weight-light" data-caption-animate="slideInUp" data-caption-delay="100"><span> <b></b>Transparencia y</span><span class="font-weight-bold"> cobertura</span></h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide context-dark" data-slide-bg="img/sliderfoto1.jpg">
            <div class="swiper-slide-caption section-md">
              <div class="container">
                <div class="row">
                  <div class="col-md-10">
                    <h6 class="text-uppercase" data-caption-animate="fadeInRight" data-caption-delay="0">Elige el taller perfecto para ti</h6>
                    <h2 class="oh font-weight-light" data-caption-animate="slideInUp" data-caption-delay="100"><span>Mas de 300 </span><span class="font-weight-bold"> talleres resgistrados</span></h2><a class="button button-default-outline button-ujarak" href="views/cards.html" data-caption-animate="fadeInLeft" data-caption-delay="0" style="text-decoration: none;">Ver mas</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </section>
      <br>     
  
  <script>
    $('.carousel').carousel();
  </script>  
        </section>
        <br>
        <section class="section section-lg section-top-1 bg-gray-4">
          <div class="container">
      <div class="title-lol">
        <h1><FONT COLOR=":#000000"><b>¡Unete a Mechanical express! </b> </FONT> </h1>
      </div>
      <div class="container-lol">
      <div class="lol">
      <figure>
        <img src="img/11668754_20945760.jpg">
      </figure>
      <div class="contenido-lol">
        <h3><FONT COLOR=":#000000">Registrase como usuario </FONT></h3>
        <p>Este parrafo es una breve descripcion</p>
        <a href="login/index.html">Registrate</a>
      </div>
      </div>
      <div class="lol">
      <figure>
        <img src="img/11667636_20945489.jpg">
      </figure>
      <div class="contenido-lol">
        <h3><FONT COLOR=":#000000">Unete  como domiciliario  </FONT></h3>
        <p>Este parrafo es una breve descripcion </p>
        <a href="login/index.html">Registrate</a>
      </div>
      </div>
      <div class="lol">
      <figure>
        <img src="img/12085247_20944059.jpg">
      </figure>
      <div class="contenido-lol">
        <h3><FONT COLOR=":#000000"> Registra tu taller actual </FONT></h3>
        <p>Este parrafo es una breve descripcion </p>
        <a href="login/index.html">Registrate</a>
      </div>
      </div>
      </div>
        </section>
        <section class="section section-sm section-first bg-default text-md-left">
          <div class="container">
            <div class="row row-50 align-items-center justify-content-center justify-content-xl-between">
              <div class="col-lg-6 text-center wow fadeInUp"><img src="img/acerca.png" alt="" width="500" height="300"/>
              </div>
              <div class="col-lg-6 wow fadeInRight" data-wow-delay=".1s">
                <div class="box-width-lg-470">
                  <h3><b>¿Quienes somos?</b></h3>
                  <div class="tabs-custom tabs-horizontal tabs-line tabs-line-big tabs-line-style-2 text-center text-md-left" id="tabs-7">
                    <ul class="nav nav-tabs">
                      <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-7-1" data-toggle="tab">SOBRE NOSOTROS</a></li>
                      <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-7-2" data-toggle="tab">POR QUÉ ELEGIRNOS</a></li>
                      <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-7-3" data-toggle="tab">NUESTRA MISIÓN                    </a></li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane fade show active" id="tabs-7-1">
                        <p>Mechanical express se compromete a brindar a nuestros clientes lo mejor en valor y arreglos de calidad. Nos apasionan y compartir lo mejor contigo.
                        </p>
                        <div class="group-md group-middle"><a class="button button-secondary button-pipaluk" href="views/contact-us.html" style="text-decoration: none;">Ponerse en contacto</a><a class="button button-black-outline button-md" href="about.html" style="text-decoration: none;">Leer mas</a></div>
                      </div>
                      <div class="tab-pane fade" id="tabs-7-2">
                        <p>Estamos orgullosos de ofrecer una excelente calidad y relación calidad-precio en mecanicos automotriz, que le brindan la oportunidad de trabajo.</p>
                        <div class="group-md group-middle"><a class="button button-secondary button-pipaluk" href="views/contact-us.html" style="text-decoration: none;">Ponerse en contacto</a><a class="button button-black-outline button-md" href="about.html" style="text-decoration: none;">Leer mas</a></div>
                      </div>
                      <div class="tab-pane fade" id="tabs-7-3">
                        <p>Nuestra misión es brindar la mejor experiencia para que planifiques un mencanico a domiclio y al mismo tiempo convertirnos en una ventanilla única para todos los servicios de mecanicos automotriz disponibles en la cidudad.</p>
                        <div class="group-md group-middle"><a class="button button-secondary button-pipaluk" href="views/contact-us.html" style="text-decoration: none;">Ponerse en contacto</a><a class="button button-black-outline button-md" href="about.html" style="text-decoration: none;">Leer mas</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section section-sm">
          <div class="container">
            <h3><b>Nuestros Servicios</b></h3>
            <br>
            <div class="row row-30">
              <div class="col-sm-6 col-lg-4">
                <article class="box-icon-classic">
                  <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                    <div class="unit-left">
                      <div class="box-icon-classic-icon fl-bigmug-line-equalization3"></div>
                    </div>
                    <div class="unit-body">
                      <h5 class="box-icon-classic-title"><a href="#" style="text-decoration: none;">Emparejamiento personalizado</a></h5>
                      <p class="box-icon-classic-text">Nuestro exclusivo sistema de emparejamiento le permite encontrar justo lo que desea para solicitar su mecanico a domicilio.</p>
                    </div>
                  </div>
                </article>
              </div>
              <div class="col-sm-6 col-lg-4">
                <article class="box-icon-classic">
                  <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                    <div class="unit-left">
                      <div class="box-icon-classic-icon fl-bigmug-line-circular220"></div>
                    </div>
                    <div class="unit-body">
                      <h5 class="box-icon-classic-title"><a href="#" style="text-decoration: none;">
                        Amplia variedad de mecanicos</a></h5>
                      <p class="box-icon-classic-text">Ofrecemos una amplia variedad de mecanicos seleccionados personalmente con destinos a nivel nacional</p>
                    </div>
                  </div>
                </article>
              </div>
              <div class="col-sm-6 col-lg-4">
                <article class="box-icon-classic">
                  <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                    <div class="unit-left">
                      <div class="box-icon-classic-icon fl-bigmug-line-favourites5"></div>
                    </div>
                    <div class="unit-body">
                      <h5 class="box-icon-classic-title"><a href="#" style="text-decoration: none;">Servicio altamente cualificado</a></h5>
                      <p class="box-icon-classic-text">Estan listo para brindarle el mejor servicio.</p>
                    </div>
                  </div>
                </article>
              </div>
              <div class="col-sm-6 col-lg-4">
                <article class="box-icon-classic">
                  <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                    <div class="unit-left">
                      <div class="box-icon-classic-icon fl-bigmug-line-headphones32"></div>
                    </div>
                    <div class="unit-body">
                      <h5 class="box-icon-classic-title"><a href="#" style="text-decoration: none;">24/7 Soporte</a></h5>
                      <p class="box-icon-classic-text">Siempre puede obtener apoyo profesional de nuestro personal las 24 horas del día, los 7 días de la semana y hacer cualquier pregunta que tenga.</p>
                    </div>
                  </div>
                </article>
              </div>
              <div class="col-sm-6 col-lg-4">
                <article class="box-icon-classic">
                  <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                    <div class="unit-left">
                      <div class="box-icon-classic-icon fl-bigmug-line-hot67"></div>
                    </div>
                    <div class="unit-body">
                      <h5 class="box-icon-classic-title"><a href="#" style="text-decoration: none;">Mecanicos cuidadosamente seleccionados</a></h5>
                      <p class="box-icon-classic-text">Nuestro equipo ofrece solo la mejor selección de mecanicos a domicilio.</p>
                    </div>
                  </div>
                </article>
              </div>
              <div class="col-sm-6 col-lg-4">
                <article class="box-icon-classic">
                  <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                    <div class="unit-left">
                      <div class="box-icon-classic-icon fl-bigmug-line-wallet26"></div>
                    </div>
                    <div class="unit-body">
                      <h5 class="box-icon-classic-title"><a href="#" style="text-decoration: none;">Precio a tus gustos. </a></h5>
                      <p class="box-icon-classic-text">Podras encontrar precios que se acomoden a tu bolsillo tan solo hablar con el mecanico de tu alcance cercano.</p>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </section>
        <!-- Hot tours-->
        <section class="section section-sm bg-default">
          <div class="container">
            <h3 class="oh-desktop"><span class="d-inline-block wow slideInDown"><b>Los mejores usuarios con alta valoracion</b></span></h3>
            <br>
            <div class="row row-sm row-40 row-md-50">
              <div class="col-sm-6 col-md-12 wow fadeInRight">
                <!-- Product Big-->
                <article class="product-big">
                  <div class="unit flex-column flex-md-row align-items-md-stretch">
                    <div class="unit-left"><a class="product-big-figure" href="#"><img src="img/mecanicopersona1.jpg" alt="" width="600" height="366"/></a></div>
                    <div class="unit-body">
                      <div class="product-big-body">
                        <h5 class="product-big-title"><a href="#" style="text-decoration: none;">Brandom rodriguez</a></h5>
                        <div class="group-sm group-middle justify-content-start">
                          <div class="product-big-rating"><span class="icon material-icons-star"></span><span class="icon material-icons-star"></span><span class="icon material-icons-star"></span><span class="icon material-icons-star"></span><span class="icon material-icons-star_half"></span></div><a class="product-big-reviews" href="#" style="text-decoration: none;">4 customer reviews</a>
                        </div>
                        <p class="product-big-text">Un mecánico es un profesional altamente capacitado en el campo de la reparación y el mantenimiento de vehículos, maquinaria y equipos mecánicos. Su trabajo consiste en diagnosticar, reparar y mantener motores, sistemas de transmisión, frenos, suspensión, dirección, sistemas de escape y otros componentes mecánicos de automóviles, camiones, motocicletas, maquinaria pesada y otros tipos de equipos.</p> <a class="button button-black-outline button-ujarak" href="#" style="text-decoration: none;">Solicitar</a>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
              <div class="col-sm-6 col-md-12 wow fadeInLeft">
                <!-- Product Big-->
                <article class="product-big">
                  <div class="unit flex-column flex-md-row align-items-md-stretch">
                    <div class="unit-left"><a class="product-big-figure" href="#"><img src="img/mecanicopersona2.jpg" alt="" width="600" height="366"/></a></div>
                    <div class="unit-body">
                      <div class="product-big-body">
                        <h5 class="product-big-title"><a href="#" style="text-decoration: none;">Sergio medina</a></h5>
                        <div class="group-sm group-middle justify-content-start">
                          <div class="product-big-rating"><span class="icon material-icons-star"></span><span class="icon material-icons-star"></span><span class="icon material-icons-star"></span><span class="icon material-icons-star"></span><span class="icon material-icons-star_half"></span></div><a class="product-big-reviews" href="#" style="text-decoration: none;">Valoracion</a>
                        </div>
                        <p class="product-big-text">Un mecánico es un profesional altamente capacitado en el campo de la reparación y el mantenimiento de vehículos, maquinaria y equipos mecánicos. Su trabajo consiste en diagnosticar, reparar y mantener motores, sistemas de transmisión, frenos, suspensión, dirección, sistemas de escape y otros componentes mecánicos de automóviles, camiones, motocicletas, maquinaria pesada y otros tipos de equipos.</p><a class="button button-black-outline button-ujarak" href="#" style="text-decoration: none;">Solicitar</a>
                      
                      </div>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </section>
        <section class="section bg-default text-center offset-top-50">
          <div class="parallax-container" data-parallax-img="img/portada1.jpg">
            <div class="parallax-content section-xl section-inset-custom-1 context-dark bg-overlay-2-21">
              <div class="container">
                <h2 class="heading-2 oh font-weight-normal wow slideInDown"><span class="d-block font-weight-semi-bold"><b>Tu mecánico de confianza a</b> </span><b>un clic de distancia.</b></span></h2>
                <p class="text-width-medium text-spacing-75 wow fadeInLeft" data-wow-delay=".1s">¡Navega por nuestro sitio web para encontrar el mecanico que necesites!</p><a class="button button-secondary button-pipaluk" href="#" style="text-decoration: none;">Solicitar ya</a>
              </div>
            </div>
          </div>
        </section>
        <section class="section section-sm">
          <div class="container">
            <h3 class="title-block find-car oh"><span class="d-inline-block wow slideInUp"><b></b>Otras personas con alta valoración</span></h3>
            <div class="row row-30 justify-content-center box-ordered">
              <div class="col-sm-6 col-md-5 col-lg-3">
                <article class="team-modern">
                  <div class="team-modern-header"><a class="team-modern-figure" href="#"><img class="img-circles" src="img/persona1.PNG" alt="" width="118" height="118"/></a>
                    <svg x="0px" y="0px" width="270px" height="70px" viewbox="0 0 270 70" enable-background="new 0 0 270 70" xml:space="preserve">
                      <g>
                        <path fill="#161616" d="M202.085,0C193.477,28.912,166.708,50,135,50S76.523,28.912,67.915,0H0v70h270V0H202.085z"></path>
                      </g>
                    </svg>
                  </div>
                  <div class="team-modern-caption">
                    <h6 class="team-modern-name"><a href="#" style="text-decoration: none;">Juan Gomez</a></h6>
                    <p class="team-modern-status">Founder, Owner</p>
                    <h6 class="team-modern-phone"><a href="tel:#" style="text-decoration: none;">+57 323-913-4688</a></h6>
                    <a class="button button-black-outline button-ujarak" href="#" style="text-decoration: none;">Solicitar</a>
                  </div>
                </article>
              </div>
              <div class="col-sm-6 col-md-5 col-lg-3">
                <article class="team-modern">
                  <div class="team-modern-header"><a class="team-modern-figure" href="#"><img class="img-circles" src="img/persona2.png" alt="" width="118" height="118"/></a>
                    <svg x="0px" y="0px" width="270px" height="70px" viewbox="0 0 270 70" enable-background="new 0 0 270 70" xml:space="preserve">
                      <g>
                        <path fill="#161616" d="M202.085,0C193.477,28.912,166.708,50,135,50S76.523,28.912,67.915,0H0v70h270V0H202.085z"></path>
                      </g>
                    </svg>
                  </div>
                  <div class="team-modern-caption">
                    <h6 class="team-modern-name"><a href="#" style="text-decoration: none;">Peter McMillan</a></h6>
                    <p class="team-modern-status">Travel Agent</p>
                    <h6 class="team-modern-phone"><a href="tel:#" style="text-decoration: none;">+57 323-913-4688</a></h6>
                    <a class="button button-black-outline button-ujarak" href="#" style="text-decoration: none;">Solicitar</a>
                  </div>
                </article>
              </div>
              <div class="col-sm-6 col-md-5 col-lg-3">
                <!-- Team Modern-->
                <article class="team-modern">
                  <div class="team-modern-header"><a class="team-modern-figure" href="#"><img class="img-circles" src="img/persona3.png" alt="" width="118" height="118"/></a>
                    <svg x="0px" y="0px" width="270px" height="70px" viewbox="0 0 270 70" enable-background="new 0 0 270 70" xml:space="preserve">
                      <g>
                        <path fill="#161616" d="M202.085,0C193.477,28.912,166.708,50,135,50S76.523,28.912,67.915,0H0v70h270V0H202.085z"></path>
                      </g>
                    </svg>
                  </div>
                  <div class="team-modern-caption">
                    <h6 class="team-modern-name"><a href="#" style="text-decoration: none;">Jill Peterson</a></h6>
                    <p class="team-modern-status">Tour Consultant</p>
                    <h6 class="team-modern-phone"><a href="tel:#" style="text-decoration: none;">+57 323-913-4688</a></h6>
                    <a class="button button-black-outline button-ujarak" href="#" style="text-decoration: none;">Solicitar</a>
                  </div>
                </article>
              </div>
              <div class="col-sm-6 col-md-5 col-lg-3">
                <!-- Team Modern-->
                <article class="team-modern">
                  <div class="team-modern-header"><a class="team-modern-figure" href="#"><img class="img-circles" src="img/persona4.png" alt="" width="118" height="118"/></a>
                    <svg x="0px" y="0px" width="270px" height="70px" viewbox="0 0 270 70" enable-background="new 0 0 270 70" xml:space="preserve">
                      <g>
                        <path fill="#161616" d="M202.085,0C193.477,28.912,166.708,50,135,50S76.523,28.912,67.915,0H0v70h270V0H202.085z"></path>
                      </g>
                    </svg>
                  </div>
                  <div class="team-modern-caption">
                    <h6 class="team-modern-name"><a href="#" style="text-decoration: none;">James Smith</a></h6>
                    <p class="team-modern-status">PR Manager</p>
                    <h6 class="team-modern-phone"><a href="tel:#" style="text-decoration: none;">+57 323-913-4688</a></h6>
                    <a class="button button-black-outline button-ujarak" href="#" style="text-decoration: none;">Solicitar</a>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </section>
        <section class="section section-sm section-top-0 section-fluid section-relative bg-gray-4">
        </section>
        <footer class="section footer-corporate context-dark">
          <div class="footer-corporate-inset">
            <div class="container">
              <div class="row row-40 justify-content-lg-between">
                <div class="col-sm-6 col-md-12 col-lg-3 col-xl-4">
                  <div class="oh-desktop">
                    <div class="wow slideInRight" data-wow-delay="0s">
                      <h6 class="text-spacing-100 text-uppercase">Contactos</h6>
                      <ul class="footer-contacts d-inline-block d-sm-block">
                        <li>
                          <div class="unit">
                            <div class="unit-left"><span class="icon fa fa-phone"></span></div>
                            <div class="unit-body"><a class="link-phone" href="tel:#" style="text-decoration: none;">+57 323-913-4688</a></div>
                          </div>
                        </li>
                        <li>
                          <div class="unit">
                            <div class="unit-left"><span class="icon fa fa-envelope"></span></div>
                            <div class="unit-body"><a class="link-aemail" href="mailto:#" style="text-decoration: none;">mechanicalservice@gmail.com</a></div>
                          </div>
                        </li>
                        <li>
                          <div class="unit">
                            <div class="unit-left"><span class="icon fa fa-location-arrow"></span></div>
                            <div class="unit-body"><a class="link-location" href="#" style="text-decoration: none;">Medellín, Colombia</a></div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-3 col-xl-4">
                  <div class="oh-desktop">
                    <div class="wow slideInDown" data-wow-delay="0s">
                      <h6 class="text-spacing-100 text-uppercase">Redes sociales</h6>
                      <article class="post post-minimal-2">
                        <p class="post-minimal-2-title"><a href="#" style="text-decoration: none;">Facebook</a></p>
                        <div class="post-minimal-2-time">
                        </div>
                      </article>
                      <article class="post post-minimal-2">
                        <p class="post-minimal-2-title"><a href="#" style="text-decoration: none;">Instagram</a></p>
                        <div class="post-minimal-2-time">
                        
                        </div>
                      </article>
                    </div>
                  </div>
                </div>
                <div class="col-sm-11 col-md-7 col-lg-5 col-xl-4">
                  <div class="oh-desktop">
                    <div class="wow slideInLeft" data-wow-delay="0s">
                      <h6 class="text-spacing-100 text-uppercase">ENLACES DE INTERÉS</h6>
                      <ul class="row-6 list-0 list-marked list-marked-md list-marked-secondary list-custom-2">
                        <li><a href="#" style="text-decoration: none;">Peticiones, Quejas y Reclamos</a></li>
                        <li><a href="#" style="text-decoration: none;">Blog</a></li>
                        <li><a href="#" style="text-decoration: none;">Colisión</a></li>
                        <li><a href="#" style="text-decoration: none;">Trabaja Con Nosotros</a></li>
                        <li><a href="#" style="text-decoration: none;">Terminos y condiciones</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </footer>
      </div>
      <div class="snackbars" id="form-output-global"></div>
      <script src="js/core.min.js"></script>
      <script src="js/script.js"></script>
      </div>
      <div class="snackbars" id="form-output-global"></div>
      <script src="js/core.min.js"></script>
      <script src="js/script.js"></script>
  </body>
</html>