<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>solicitar servicios</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="img/logo.png" type="img/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:400,500,600,700%7CPoppins:400%7CTeko:300,400">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/cards.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="../img/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    
    <div class="page">
      <header class="section page-header">
      <nav class="navbar" style="background-color: #162e44;">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <nav class="navbar bg-body-tertiary">
              <div class="container">
                <a class="navbar-brand" href="#">
                  <img  src="../img/logo.png" alt="Bootstrap" width="70" height="70">
                </a>
              </div>
            </nav>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="../index.html"  style="color: #ffff;"><B>INICIO</B></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="cards.html" style="color: #ffff;"> <B>SOLICITAR SERVICIO</B></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact-us.html" style="color: #ffff;" ><B>CONTACTOS</B> </a>
                </li>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </nav>
      </header>
      <h2>Mecanicos</h2>
    <div class="card-container">
      <div class="card">
        <div class="head">
            <div class="circle"></div>
            <div class="img">
                <img src="../img/persona1.png" alt="">
            </div>
        </div>
        <div class="description">
            <h3>luis Robinson</h3>
            <h4>Mecatrónica de Buses y Camiones</h4>
            <p>4 años de experiencia en mecatronica </p>
        </div>
        <div class="contact">
            <a href="perfiles.html">Contactar</a>
        </div>
    </div>
    <div class="card">
        <div class="head">
            <div class="circle"></div>
            <div class="img">
                <img src="../img/persona2.png" alt="">
            </div>
        </div>
        <div class="description">
            <h3>Peter </h3>
            <h4>Mecanico automotriz</h4>
            <p>Tecnico en mecanica automotriz en el sena</p>
        </div>
        <div class="contact">
            <a href="perfiles.html">Contactar</a>
        </div>
    </div>
    <div class="card">
      <div class="head">
          <div class="circle"></div>
          <div class="img">
              <img src="../img/persona4.jpeg" alt="">
          </div>
      </div>
      <div class="description">
          <h3>Richard </h3>
          <h4>Mecanico automotriz</h4>
          <p>Tecnico en mecanica automotriz en el sena</p>
      </div>
      <div class="contact">
          <a href="perfiles.html">Contactar</a>
      </div>
  </div>
    <div class="card">
        <div class="head">
            <div class="circle"></div>
            <div class="img">
                <img src="../img/persona3.png" alt="">
            </div>
        </div>
        <div class="description">
            <h3>Sergio Chaverra</h3>
            <h4>Mecánico de Automotores Diesel</h4>
        </div>
        <div class="contact">
            <a href="perfiles.html">Contactar</a>
        </div>
    </div>
    <div class="card">
      <div class="head">
          <div class="circle"></div>
          <div class="img">
              <img src="../img/taller1.jpg" alt="">
          </div>
      </div>
      <div class="description">
          <h3>Taller Motorclay</h3>
          <p>Taller ubicada en el poblado y organizador de eventos como "subida palmas"</p>
      </div>
      <div class="contact">
          <a href="perfiles.html">Contactar</a>
      </div>

    </div>
    <div class="card">
      <div class="head">
          <div class="circle"></div>
          <div class="img">
              <img src="../img/taller3.jpg" alt="">
          </div>
      </div>
      <div class="description">
          <h3>Toyo tiers</h3>
          <p>Taller enfocada a TOYOTA, con partes y repuestos originales</p>
          <br><br>
      </div>
      <div class="contact">
          <a href="perfiles.html">Contactar</a>
      </div>

    </div>
    
    
    
    
    
  
      
    </div> 
      </section>
      <footer class="section footer-corporate context-dark"  >
        <div class="footer-corporate-inset">
          <div class="container">
            <div class="row row-40 justify-content-lg-between">
              <div class="col-sm-6 col-md-12 col-lg-3 col-xl-4">
                <div class="oh-desktop">
                  <div class="wow slideInRight" data-wow-delay="0s">
                    <h6 class="text-spacing-100 text-uppercase">Contactos</h6>
                    <ul class="footer-contacts d-inline-block d-sm-block">
                      <li>
                        <div class="unit">
                          <div class="unit-left"><span class="icon fa fa-phone"></span></div>
                          <div class="unit-body"><a class="link-phone" href="tel:#">+1 323-913-4688</a></div>
                        </div>
                      </li>
                      <li>
                        <div class="unit">
                          <div class="unit-left"><span class="icon fa fa-envelope"></span></div>
                          <div class="unit-body"><a class="link-aemail" href="mailto:#">info@gmail.com</a></div>
                        </div>
                      </li>
                      <li>
                        <div class="unit">
                          <div class="unit-left"><span class="icon fa fa-location-arrow"></span></div>
                          <div class="unit-body"><a class="link-location" href="#">Medellín, Colombia</a></div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-5 col-lg-3 col-xl-4">
                <div class="oh-desktop">
                  <div class="wow slideInDown" data-wow-delay="0s">
                    <h6 class="text-spacing-100 text-uppercase">Redes sociales</h6>
                    <article class="post post-minimal-2">
                      <p class="post-minimal-2-title"><a href="#">Facebook</a></p>
                      <div class="post-minimal-2-time">
                      </div>
                    </article>              
                    <article class="post post-minimal-2">
                      <p class="post-minimal-2-title"><a href="#">Instagram</a></p>
                      <div class="post-minimal-2-time">
                      </div>
                    </article>
                  </div>
                </div>
              </div>
              <div class="col-sm-11 col-md-7 col-lg-5 col-xl-4">
                <div class="oh-desktop">
                  <div class="wow slideInLeft" data-wow-delay="0s">
                    <h6 class="text-spacing-100 text-uppercase">ENLACES DE INTERÉS</h6>
                    <ul class="row-6 list-0 list-marked list-marked-md list-marked-secondary list-custom-2">
                      <li><a href="#">Peticiones, Quejas y Reclamos</a></li>
                      <li><a href="#">Blog</a></li>
                      <li><a href="#">Colisión</a></li>
                      <li><a href="#">Trabaja Con Nosotros</a></li>
                      <li><a href="#">Terminos y condiciones</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="../js/core.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>

