<footer class="footer" style="background-color: #162E44; color: white; padding: 20px 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5><b>Contacto</b></h5>
                <br>
                <p style="margin-bottom: 5px;"><i class="bi bi-telephone-fill" style="margin-right: 10px;"></i> +57 3197921507</p>
                <p style="margin-bottom: 5px;"><i class="bi bi-envelope-fill" style="margin-right: 10px;"></i> mechanical-express@gmail.com</p>
            </div>
            <div class="col-md-6">
                <h5><b>Enlaces útiles</b></h5>
                <br>
                <ul class="list-unstyled" style="padding-left: 0;">
                    <li style="margin-bottom: 5px;"><a href="https://drive.google.com/file/d/1NbyW6s4GNv98On4ZiDY5beL5ycRabwoZ/view?usp=drive_link" target="_blank" style="color: white; text-decoration: none;">• Términos y condiciones</a></li>
                    <li><a href="{% url 'contactenos' %}" style="color: white; text-decoration: none;">• Contacta nuestro soporte</a></li>
                </ul>
            </div>
        </div>
        <hr style="background-color: white;">
        <p class="text-center">&copy; 2024 Tu Empresa. Todos los derechos reservados.</p>
    </div>
</footer>
