{% load static %}

        <footer class="section footer-corporate context-dark">
            <div class="footer-corporate-inset">
            <div class="container">
                <div class="row row-40 justify-content-lg-between">
                <div class="col-sm-6 col-md-12 col-lg-3 col-xl-4">
                    <div class="oh-desktop">
                    <div class="wow slideInRight" data-wow-delay="0s">
                        <h6 class="text-spacing-100 text-uppercase">Contactos</h6>
                        <ul class="footer-contacts d-inline-block d-sm-block">
                        <li>
                            <div class="unit">
                            <div class="unit-left"><span class="icon fa fa-phone"></span></div>
                            <div class="unit-body"><a class="link-phone" href="tel:#" style="text-decoration: none; color: #01b3a7;">+57 323-913-4688</a></div>
                            </div>
                        </li>
                        <li>
                            <div class="unit">
                            <div class="unit-left"><span class="icon fa fa-envelope"></span></div>
                            <div class="unit-body"><a class="link-aemail" href="mailto:#" style="text-decoration: none; color: #01b3a7;">mechanicalservice@gmail.com</a></div>
                            </div>
                        </li>
                        <li>
                            <div class="unit">
                            <div class="unit-left"><span class="icon fa fa-location-arrow"></span></div>
                            <div class="unit-body"><a class="link-location" href="#" style="text-decoration: none; ">Medellín, Colombia</a></div>
                            </div>
                        </li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-3 col-xl-4">
                    <div class="oh-desktop">
                    <div class="wow slideInDown" data-wow-delay="0s">
                        <h6 class="text-spacing-100 text-uppercase">Redes sociales</h6>
                        <article class="post post-minimal-2">
                        <p class="post-minimal-2-title"><a href="#" style="text-decoration: none;">Facebook</a></p>
                        <div class="post-minimal-2-time">
                        </div>
                        </article>
                        <article class="post post-minimal-2">
                        <p class="post-minimal-2-title"><a href="#" style="text-decoration: none;">Instagram</a></p>
                        <div class="post-minimal-2-time">
        
                        </div>
                        </article>
                    </div>
                    </div>
                </div>
                <div class="col-sm-11 col-md-7 col-lg-5 col-xl-4">
                    <div class="oh-desktop">
                    <div class="wow slideInLeft" data-wow-delay="0s">
                        <h6 class="text-spacing-100 text-uppercase">ENLACES DE INTERÉS</h6>
                        <ul class="row-6 list-0 list-marked list-marked-md list-marked-secondary list-custom-2">
                        <li><a href="#" style="text-decoration: none;">Peticiones, Quejas y Reclamos</a></li>
                        <li><a href="#" style="text-decoration: none;">Blog</a></li>
                        <li><a href="#" style="text-decoration: none;">Colisión</a></li>
                        <li><a href="#" style="text-decoration: none;">Trabaja Con Nosotros</a></li>
                        <li><a href="#" style="text-decoration: none;">Terminos y condiciones</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
            </div>
        </footer>
        </div>
        <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
        <div class="snackbars" id="form-output-global">
            <script src="{% static 'js/core.min.js' %}"></script>
            <script src="{% static 'js/script.js'%}"></script>
        </div>
        <div class="snackbars" id="form-output-global"></div>
        <script src="{% static 'js/core.min.js' %}"></script>
        <script src="{% static 'js/script.js'%}"></script>
    </body>
</html>