{% include 'inc/header.html' %}
{% load static %}

{% block content %}

<style>
    .background-image {
        background-image: url('{% static "img/sliderfoto1.jpg" %}');
        background-size: cover;
        background-position: center;
        height: 100vh;
    }
</style>

<div class="container-fluid mt-4 background-image">
    <br>
    <div class="row justify-content-center">
        {% for mecanico in mecanico %}
        <div class="col-md-8">
            <div class="card shadow-lg">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <img src="{% static 'img/' %}{{ mecanico.foto }}" class="img-fluid rounded-circle mecanico-img" alt="{{ mecanico.nombres }}">
                            <h5 class="text-uppercase">{{ mecanico.nombres }} {{ mecanico.apellidos }}</h5>
                            <p class="text-muted">{{ mecanico.profesion }}</p>
                        </div>
                        <div class="col-md-8">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong>Teléfono:</strong> {{ mecanico.telefono }}</li>
                                <li class="list-group-item"><strong>Correo electrónico:</strong> {{ mecanico.email }}</li>
                                <li class="list-group-item"><strong>Ubicación:</strong> {{ mecanico.ubicacion }}</li>
                                <li class="list-group-item"><strong>Descripción:</strong> {{ mecanico.descripcion }}</li>
                                <li class="list-group-item"><strong>Tipo de afiliación:</strong> {{ mecanico.tipo_afiliacion }}</li>
                            </ul>
                        </div>
                    </div>
                    <!-- Mapa de ubicación -->
                    <div class="mt-4">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.7769362439466!2d-75.57389068456535!3d6.244203995471625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e40e73bb1bd1919%3A0x269f65b6ff6d8850!2sMedellin%2C%20Antioquia!5e0!3m2!1sen!2sco!4v1624542683727!5m2!1sen!2sco" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% include 'inc/footer.html' %}
