{% include 'inc/header.html' %}
{% load static %}



<body>
  <div class="slider-container">

    <style>
      .carousel-caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }

      .carousel-caption h5 {
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        padding: 10px;
      }
    </style>
    </head>


    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <style>
            .brighten-img {
                filter: brightness(200%);
            }
        </style>
          <img src="{% static 'img/Mechanical.png' %}" class="brighten-img d-block w-100" alt="...">
          <div class="carousel-caption">
            <h2></h2>
          </div>
        </div>

      </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </div>
  <br>
  <center>
    <h2>¡Unete a Mechanical express!</h2>
  </center>
  <div class="cards-container">
    <div class="cards-wrapper">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'img/11668754_20945760.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">
            <FONT COLOR=":#000000">Registrase como usuario </FONT>
          </h5>
          <p class="card-text">Este parrafo es una breve descripcion</p>
          <center><a href="#" class="btn btn-primary">Registrarme </a></center>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="{% static 'img/11667636_20945489.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">
            <FONT COLOR=":#000000">Unete como mecanico domiciliario </FONT>
          </h5>
          <p class="card-text">Este parrafo es una breve descripcion</p>
          <center><a href="#" class="btn btn-primary">Registrarme </a></center>
        </div>
      </div>
    </div>

    <style>
      .cards-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        /* Espacio entre tarjetas */
        margin-top: 2rem;
      }

      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    </style>
  </div>



  <style>
    .cards-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      /* Espacio entre tarjetas */
      margin-top: 2rem;
    }

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  </style>
  </div>
  <div class="container">
    <section class="section section-sm">
      <div class="container">
        <br>
        <h3 class="text-center mb-4"><b>Nuestros Servicios</b></h3>
        <br>
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
              <div class="card-body text-center">
                <div
                  class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                  <div class="unit-left">
                    <div class="box-icon-classic-icon fl-bigmug-line-favourites5"></div>
                  </div>
                </div>
                <div class="contenedor-icono">
                  <img src="{% static 'img/iconosistema.png' %}" class="card-img-top" alt="...">
                </div>
                <h5 class="card-title">
                  <a href="" style="text-decoration: none; color: inherit;">Emparejamiento personalizado</a>
                </h5>
                <p class="card-text">Nuestro exclusivo sistema de emparejamiento le permite encontrar justo lo que desea
                  para solicitar su mecánico a domicilio.</p>
              </div>
            </div>
          </div>

          <style>
            .contenedor-icono {
              display: flex;
              justify-content: center;
              /* Centra la imagen horizontalmente */
              margin-bottom: 5px;
              /* Espacio entre la imagen y el título */
            }

            .contenedor-icono img {
              width: 60px;
              /* Ajusta según tus necesidades */
              height: auto;
              /* Mantendrá la proporción de la imagen */
            }

            .unit {
              display: flex;
              align-items: center;
              justify-content: center;
              margin-bottom: 15px;
              /* Espacio entre el icono y la imagen */
            }

            .unit-left {
              display: flex;
              align-items: center;
              justify-content: center;
            }

            .box-icon-classic-icon {
              font-size: 24px;
              /* Ajusta según tus necesidades */
            }
          </style>



          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
              <div class="card-body text-center">
                <div class="box-icon-classic-icon fl-bigmug-line-circular220 mb-3"></div>
                <div class="contenedor-icono">
                  <img src="{% static 'img/iconosistema2.png' %}" class="card-img-top" alt="...">
                </div>
                <h5 class="card-title"><a href="#" style="text-decoration: none; color: inherit;">Amplia variedad de
                    mecánicos</a></h5>
                <p class="card-text">Ofrecemos una amplia variedad de mecánicos seleccionados personalmente con destinos
                  a nivel nacional.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
              <div class="card-body text-center">
                <div class="box-icon-classic-icon fl-bigmug-line-favourites5 mb-3"></div>
                <div class="contenedor-icono">
                  <img src="{% static 'img/iconosistema3.png' %}" class="card-img-top" alt="...">
                </div>
                <h5 class="card-title"><a href="#" style="text-decoration: none; color: inherit;">Servicio altamente
                    cualificado</a></h5>
                <p class="card-text">Están listos para brindarle el mejor servicio.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">

            <div class="card h-100">
              <div class="card-body text-center">
                <div class="box-icon-classic-icon fl-bigmug-line-headphones32 mb-3"></div>
                <div class="contenedor-icono">
                  <img src="{% static 'img/iconosistema4.png' %}" class="card-img-top" alt="...">
                </div>
                <h5 class="card-title"><a href="#" style="text-decoration: none; color: inherit;">24/7 Soporte</a></h5>
                <p class="card-text">Siempre puede obtener apoyo profesional de nuestro personal las 24 horas del día,
                  los 7 días de la semana y hacer cualquier pregunta que tenga.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
              <div class="card-body text-center">
                <div class="box-icon-classic-icon fl-bigmug-line-hot67 mb-3"></div>
                <div class="contenedor-icono">
                  <img src="{% static 'img/iconosistema5.png' %}" class="card-img-top" alt="...">
                </div>
                <h5 class="card-title"><a href="#" style="text-decoration: none; color: inherit;">Mecánicos
                    cuidadosamente seleccionados</a></h5>
                <p class="card-text">Nuestro equipo ofrece solo la mejor selección de mecánicos a domicilio.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
              <div class="card-body text-center">
                <div class="box-icon-classic-icon fl-bigmug-line-wallet26 mb-3"></div>
                <div class="contenedor-icono">
                  <img src="{% static 'img/iconosistema6.png' %}" class="card-img-top" alt="...">
                </div>
                <h5 class="card-title"><a href="#" style="text-decoration: none; color: inherit;">Precio a tus
                    gustos.</a></h5>
                <p class="card-text">Podrás encontrar precios que se acomoden a tu bolsillo tan solo hablando con el
                  mecánico de tu alcance cercano.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div>
    <div class="container">
      <div class="card mb-3 text-start" style="max-width: 1275px; margin: 0 auto;">
        <div class="row g-0">
          <div class="col-md-4 d-flex align-items-center">
            <img src="{% static 'img/mecanicopersona1.jpg' %}" alt="" width="600" height="300">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Brandom rodriguez</h5>
              <div class="rating">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9734;</span>
              </div>

              <p class="card-text text-start">
                Un mecánico es un profesional altamente capacitado en el campo de la reparación y el mantenimiento de
                vehículos, maquinaria y equipos mecánicos. Su trabajo consiste en diagnosticar, reparar y mantener
                motores, sistemas de transmisión, frenos, suspensión, dirección, sistemas de escape y otros componentes
                mecánicos de automóviles, camiones, motocicletas, maquinaria pesada y otros tipos de equipos.
              </p>
              <button type="button" class="btn btn-outline-primary">Contactar</button>
            </div>
          </div>
        </div>
      </div>
      <script>
        // Función para ocultar el mensaje después de un cierto tiempo
        setTimeout(function () {
          var mensajeElemento = document.getElementById('alerta-mensaje');
          if (mensajeElemento) {
            mensajeElemento.style.display = 'none';
          }
        }, 2500); // 2500 milisegundos = 2.5 segundos
      </script>

      <div class="card mb-3 text-start" style="max-width: 1275px; margin: 0 auto;">
        <div class="row g-0">
          <div class="col-md-4 d-flex align-items-center">
            <img src="{% static 'img/mecanicopersona2.jpg' %}" alt="" width="600" height="300">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Luis mendoza</h5>
              <div class="rating">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9734;</span>
              </div>

              <p class="card-text text-start">
                Un mecánico es un profesional altamente capacitado en el campo de la reparación y el mantenimiento de
                vehículos, maquinaria y equipos mecánicos. Su trabajo consiste en diagnosticar, reparar y mantener
                motores, sistemas de transmisión, frenos, suspensión, dirección, sistemas de escape y otros componentes
                mecánicos de automóviles, camiones, motocicletas, maquinaria pesada y otros tipos de equipos.
              </p>
              <button type="button" class="btn btn-outline-primary">Contactar</button>
            </div>
          </div>
        </div>
      </div>
      <style>
        .rating {
          font-size: 24px;
          /* Adjust size as needed */
        }

        .star {
          color: #ffc107;
          /* Yellow color */
        }
      </style>
    </div>

    <style>
      /* Estilos generales */
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }

      .parallax-content {
        background-image: url('https://i.ibb.co/nrrjdFM/luxa-org-opacity-changed-portada.jpg');
        /* Reemplaza con tu imagen de fondo */
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        padding: 100px 0;
        /* Ajusta el padding según sea necesario */
        text-align: center;
        color: #ffffff;
        /* Color de texto */
      }

      .parallax-content h2 {
        font-size: 3em;
        /* Tamaño de fuente del título */
        margin-bottom: 20px;
      }

      .parallax-content p {
        font-size: 1.5em;
        /* Tamaño de fuente del párrafo */
        margin-bottom: 40px;
      }

      .button {
        display: inline-block;
        padding: 15px 30px;
        background-color: #007bff;
        /* Color de fondo del botón */
        color: #ffffff;
        /* Color de texto del botón */
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease;
      }

      .button:hover {
        background-color: #0056b3;
        /* Color de fondo del botón al pasar el mouse */
      }
    </style>

    <div class="parallax-content">
      <div class="container">
        <h2 class="heading-2 oh font-weight-normal"><span class="d-block font-weight-semi-bold"><b>Tu mecánico de
              confianza a</b></span><b> un clic de distancia.</b></h2>
        <p class="text-width-medium text-spacing-75">¡Navega por nuestro sitio web para encontrar el mecánico que
          necesites!</p>
        <a class="button button-secondary button-pipaluk" href="#">Solicitar ya</a>
      </div>
    </div>
  </div>
  <div>
  </div>
  </div>
  <div class="container">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
      .card {
        margin: 20px;
      }

      .card-body {
        text-align: center;
      }

      .card-title {
        font-size: 1.5em;
        font-weight: bold;
        margin-top: 10px;
      }

      .card-text {
        font-size: 1em;
        color: #555;
      }

      .profile-img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
      }
    </style>
    </head>

    <body>
      <div class="container">
        <div class="row">
          <!-- Card 1 -->
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <img src="{% static 'img/persona1.png' %}" alt="María García" class="profile-img">
                <h5 class="card-title">Jhon</h5>
                <p class="card-text">ofrece servicios de reparación y mantenimiento de vehículos directamente en el
                  lugar donde se encuentre el cliente, evitando así la necesidad de llevar el vehículo a un taller. A
                  continuación, se describen algunas características y servicios típicos de un mecánico a domicilio.</p>
                <button type="button" class="btn btn-outline-primary">Contactar</button>
              </div>
            </div>
          </div>
          <!-- Card 2 -->
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <img src="{% static 'img/persona2.png' %}" alt="Carlos Rodríguez" class="profile-img">
                <h5 class="card-title">Carlos Rodríguez</h5>
                <p class="card-text">ofrece servicios de reparación y mantenimiento de vehículos directamente en el
                  lugar donde se encuentre el cliente, evitando así la necesidad de llevar el vehículo a un taller. A
                  continuación, se describen algunas características y servicios típicos de un mecánico a domicilio.</p>
                <button type="button" class="btn btn-outline-primary">Contactar</button>
              </div>
            </div>
          </div>
          <!-- Card 3 -->
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <img src="{% static 'img/persona3.png' %}" alt="Ana López" class="profile-img">
                <h5 class="card-title">silva </h5>
                <p class="card-text">ofrece servicios de reparación y mantenimiento de vehículos directamente en el
                  lugar donde se encuentre el cliente, evitando así la necesidad de llevar el vehículo a un taller. A
                  continuación, se describen algunas características y servicios típicos de un mecánico a domicilio.</p>
                <button type="button" class="btn btn-outline-primary">Contactar</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </div>

</body>

</html>

{% include 'inc/footer.html' %}