{% include "inc/header.html" %}
{% load static %}

<br>
<h2>MECANICOS Y TALLERES</h2>
<div class="card-container">
  <div class="card">
    <div class="head">
      <div class="circle"></div>
      <div class="img">
        <img src="{% static 'img/persona1.png' %}" alt="">
      </div>
    </div>
    <div class="description">
      <h3>luis Robinson</h3>
      <h4>Mecatrónica de Buses y Camiones</h4>
      <p>4 años de experiencia en mecatronica </p>
    </div>
    <div class="contact">
      <a href="perfiles.html">Contactar</a>
    </div>
  </div>
  <div class="card">
    <div class="head">
      <div class="circle"></div>
      <div class="img">
        <img src="{% static 'img/persona2.png' %}" alt="">
      </div>
    </div>
    <div class="description">
      <h3>Peter </h3>
      <h4>Mecanico automotriz</h4>
      <p>Tecnico en mecanica automotriz en el sena</p>
    </div>
    <div class="contact">
      <a href="Home/perfiles.html">Contactar</a>
    </div>
  </div>
  <div class="card">
    <div class="head">
      <div class="circle"></div>
      <div class="img">
        <img src="{% static 'img/persona4.jpeg' %}" alt="">
      </div>
    </div>
    <div class="description">
      <h3>Richard </h3>
      <h4>Mecanico automotriz</h4>
      <p>Tecnico en mecanica automotriz en el sena</p>
    </div>
    <div class="contact">
      <a href="Home/perfiles.html">Contactar</a>
    </div>
  </div>
  <div class="card">
    <div class="head">
      <div class="circle"></div>
      <div class="img">
        <img src="{% static 'img/persona3.png' %}" alt="">
      </div>
    </div>
    <div class="description">
      <h3>Sergio Chaverra</h3>
      <h4>Mecánico de Automotores Diesel</h4>
    </div>
    <div class="contact">
      <a href="Home/perfiles.html">Contactar</a>
    </div>
  </div>
  <div class="card">
    <div class="head">
      <div class="circle"></div>
      <div class="img">
        <img src="{% static 'img/taller1.jpg' %}" alt="">
      </div>
    </div>
    <div class="description">
      <h3>Taller Motorclay</h3>
      <p>Taller ubicada en el poblado y organizador de eventos como "subida palmas"</p>
    </div>
    <div class="contact">
      <a href="Home/perfiles.html">Contactar</a>
    </div>
  </div>
  <div class="card">
    <div class="head">
      <div class="circle"></div>
      <div class="img">
        <img src="{% static 'img/taller3.jpg' %}" alt="">
      </div>
    </div>
    <div class="description">
      <h3>Toyo tiers</h3>
      <p>Taller enfocada a TOYOTA, con partes y repuestos originales</p>
      <br><br>
    </div>
    <div class="contact">
      <a href="Home/perfiles.html">Contactar</a>
    </div>
  </div>
  <div class="card">
    <div class="head">
      <div class="circle"></div>
      <div class="img">
        <img src="{% static 'img/taller3.jpg' %}" alt="">
      </div>
    </div>
    <div class="description">
      <h3>Toyo tiers</h3>
      <p>Taller enfocada a TOYOTA, con partes y repuestos originales</p>
      <br><br>
    </div>
    <div class="contact">
      <a href="Home/perfiles.html">Contactar</a>
    </div>
  </div>
  <div class="card">
    <div class="head">
      <div class="circle"></div>
      <div class="img">
        <img src="{% static 'img/taller3.jpg' %}" alt="">
      </div>
    </div>
    <div class="description">
      <h3>Toyo tiers</h3>
      <p>Taller enfocada a TOYOTA, con partes y repuestos originales</p>
      <br><br>
    </div>
    <div class="contact">
      <a href="Home/perfiles.html">Contactar</a>
    </div>
  </div>
</div>
</section>

{% include "inc/footer.html" %}